@model ExercisesDetailsModel
@{
    ViewData["Title"] = $"{Model.Name} Details";
    var parts = string.Join(";", Model.Parts.Select(x => $"{x.Id}:{x.Name}:{x.IsMuscle}"));
    var activationIds = string.Join(",", Model.ActivationParts);
}

<section class="section">
    <div class="container is-max-desktop">
        @if (ViewBag.Success != null)
        {
            <p class="notification is-success is-light">
                @ViewBag.Success
            </p>
        }
        @using (Html.BeginForm(FormMethod.Post))
        {
            <input type="hidden" asp-for="Id">
            @Html.AntiForgeryToken()
            <div class="field">
                <label class="label">Name</label>
                <div class="control">
                    <input class="input" name="name" type="text" placeholder="Exercise Name" required asp-for="Name">
                </div>
            </div>
            <p class="help is-danger">
                <span asp-validation-for="Name"></span>
            </p>

            <div class="field">
                <label class="label">Focus</label>
                <div class="control">
                    <div class="select">
                        <select asp-for="FocusId" asp-items="Model.FocusOptions"></select>
                    </div>
                </div>
            </div>
            <p class="help is-danger">
                <span asp-validation-for="FocusId"></span>
            </p>

            <div class="field">
                <label class="label">Equipment</label>
                <div class="control">
                    <div class="select">
                        <select asp-for="Equipment" asp-items="Model.EquipmentOptions"></select>
                    </div>
                </div>
            </div>
            <p class="help is-danger">
                <span asp-validation-for="Equipment"></span>
            </p>

            <div class="field">
                <label class="label">Youtube Url</label>
                <div class="control">
                    <input class="input" name="youtubeUrl" type="text" placeholder="https://www.youtube.com/watch?v=JJan1FvD8EM&t=46s" asp-for="YoutubeUrl">
                </div>
            </div>
            <p class="help is-danger">
                <span asp-validation-for="YoutubeUrl"></span>
            </p>
            <div id="focus-and-activation-group"
                data-focusId="@Model.FocusId"
                data-activationIds="@activationIds"
                data-parts="@parts"
            ></div>

            <div class="field">
                <label class="label">Notes</label>
                <div class="control">
                    <textarea class="textarea" placeholder="Exercise Notes" asp-for="Notes"></textarea>
                </div>
            </div>
            <p class="help is-danger">
                <span asp-validation-for="Notes"></span>
            </p>
            <nav class="level is-mobile">
                <!-- Left side -->
                <div class="level-left">
                    <div class="level-item">
                        <div class="control">
                            <button class="button is-info">Submit</button>
                        </div>
                    </div>
                    <div class="level-item">
                        <div class="control">
                            <a href="@Url.Action("Index")" class="button is-link is-light">Cancel</a>
                        </div>
                    </div>
                </div>
                @if (Model.Id > 0)
                {
                    <div class="level-right">
                        <div class="level-item">
                        <div class="control">
                            <button class="button is-info is-outlined js-modal-trigger" data-target="modal-confirm">Delete</button>
                        </div>
                    </div>
                </div>
                }
            </nav>
        }
    </div>

    @* Modal Window *@
    <div class="modal" id="modal-confirm">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Confirm Delete</p>
                <button class="delete" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
                Are you sure you want to delete @Model.Name?
            </section>
            <footer class="modal-card-foot is-justify-content-flex-end">
                <form method="post" asp-action="Delete">
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="exerciseId" asp-for="@Model.Id" />
                    <button class="button is-info">Confirm</button>
                </form>
                <button class="button is-link is-light">Cancel</button>
            </footer>
        </div>
    </div>
</section>

@section Scripts
{
    <script src="~/js/pages/exercise-details.js"></script>    
}